.body{
    &__dark{
        @extend %basic_body;
    }
    @extend %basic_body;

    &__textarea {
        background: red;
        &__dark{
            @extend %basic_textarea;
            background: $black;
            color:$white;
        }

        @extend %basic_textarea;
        color:$black;
        background: $white;
    }
}